---
import Layout from '../layouts/Layout.astro'
---

<Layout title="404 | Page not found">
    <main>
        <h2 class="mt-5 font-extrabold text-left text-4xl md:text-5xl mb-4">404 | Page not found!</h1>
    </main>
</Layout>

<style>
    h2 {
        color: rgb(157, 190, 130);
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 20px;
        height: min-content;
    }

    main {
        margin: 0 auto;
        padding: 1em;
        max-width: 60ch;
    }

</style>