---
import Layout from "../layouts/Layout.astro"
---

<Layout title="gear">
    <main>

    </main>
</Layout>

<style>
    <style>
	    h1 {
            color: #ccc;
            text-align: center;
            margin-bottom: 2rem;
            margin-top: 20px;
            height: min-content
        }

        h2 {
            color: #ccc;
            margin-top: 20px;
        }

        h3 {
            color: #ccc;
            margin-bottom: 8;
            white-space: pre;
        }

        main {
            margin: 0 auto;
            padding: 1em;;
            max-width: 60ch;
        }

        a {
            color: #7777ff;
            text-decoration: none;
        }
    
        p {
            color: #ccc;
            max-width: 60ch;
            margin-top: 0px;
        }
</style>