---
import Layout from '../layouts/Layout.astro';
import {age} from '../utils/time';
import {HiOutlineLocationMarker} from 'react-icons/hi';
---

<Layout title="Andrew Nijmeh">
	<main>
		<h1>Andrew Nijmeh</h1>

		<nobr><p>I'm a ~{age.toPrecision(5)} yr old software engineer & <a href="https://en.wikipedia.org/wiki/Hacker_culture#Definition"> hacker </a> from Toronto, Ontario. </p></nobr>

		<nobr>
		<p>
			I like to code. I am currently building
			a data-store platform  @ 
			<a href="https://substore.io" target="norel noopen">
				Substore
			</a>.
		</p>
		</nobr>
	</main>
</Layout>

<style>
	* {
  		margin: 10;
	}

	h1 {
		margin: 2rem 0;
		color: #ccc;
		text-align: center
	}

	h2 {
		color: #ccc;
	}

	main {
		margin: auto;
		padding: 1em;
		max-width: 60ch;
	}

	a {
  		color: #7777ff;
  		text-decoration: none;
	}
	
	p {
  		color: #ccc;
		width: 50%;
	}

</style>
