---
import Layout from '../layouts/Layout.astro';
const posts = (await Astro.glob('./blog/*.{md,mdx}')).sort(
	(a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf()
);
import { TiLocationArrowOutline } from "@react-icons/all-files/ti/TiLocationArrowOutline"
import { AiOutlineClockCircle } from "@react-icons/all-files/ai/AiOutlineClockCircle"
import { SiEthereum } from "@react-icons/all-files/si/SiEthereum"
import { MdOutlineMailOutline } from "react-icons/md/index.js"
import { SiGithubsponsors } from "react-icons/si/index.js"
import Snowfall from "../components/Snowfall"
import { age } from '../utils/time'
---

<Layout title="Andrew Nijmeh">
  <Snowfall />
	<main>
               <h3 class="text-white-700 flex dark:text-gray-30 float-right items-center w-full leading-6 tracking wide"> <AiOutlineClockCircle/><span id="time"></span></h3>
        <h3 class="text-white-700 flex dark:text-gray-30 float-right items-center w-full leading-6 tracking wide"> <SiEthereum/> <a href="https://app.ens.domains/name/nijmeh.eth/details"> nijmeh.eth</a></h3>
        <h3 class="text-white-700 flex dark:text-gray-30 float-right items-center w-full leading-6 tracking wide"> <MdOutlineMailOutline/> <a href="mailto:andrew@nijmeh.cloud"> andrew@nijmeh.cloud</a></h3>
        <h3 class="text-white-700 flex dark:text-gray-30 float-right items-center w-full leading-6 tracking wide mb-8"> <SiGithubsponsors/> <a href="https://github.com/sponsors/anddddrew"> GitHub Sponsors</a></h3>
    <img src="/headshot.jpg" alt="Headshot" width="80" height="90">
		<h1 class="mt-5 font-extrabold text-left text-4xl md:text-5xl mb-4">hey, I'm Andrew <span class="blog-title-emoji">👋</span></h1>
		<p class="text-white-800 dark:text-gray-300 leading-6 tracking-wide mb-12">I'm a <span>{age.toPrecision(10)}</span> year old <a href="https://en.wikipedia.org/wiki/Hacker_culture#Definition">hacker</a> & software engineer from Toronto, Ontario, Canada. I am passionate about software engineering,
            cloud & software infrastructure. </p>	

		<h3 class="font-extrabold text-3xl mb-4">experience</h3>
        <p class="text-white-800 dark:text-gray-300 leading-6 tracking-wide mb-12">
            I have been programming for almost 4 years. I've gained experience in a variety of languages and tools. 
            I have worked on small personal projects, to enterprise products at companies.
        </p>

        <h3 class="font-extrabold text-3xl mb-4">tech</h3>
        <p class="text-white-800 dark:text-gray-300 leading-6 tracking-wide mb-12">
            I have tinkered with a bunch of different languages and tools, However I am most experienced w/ <a href="https://docker.com">docker</a>, <a href="https://python.org">python</a>, <a href="https://typescriptlang.org">typescript</a>, <a href="https://rust-lang.org">rust</a>, & <a href="https://reactjs.org/">react</a>. 
            I am also familiar with cloud computing + DevOps tools like <a href="https://terraform.io">terraform</a>, <a href="https://en.wikipedia.org/wiki/CI/CD">ci/cd</a> & <a href="https://kubernetes.io">kubernetes</a>.
        </p>

        <h3 class="font-extrabold text-3xl mb-4">contact</h3>
        <p class="text-white-800 dark:text-gray-300 leading-6 tracking-wide mb-12">
           If you have any cool ideas or just want to say hi, feel free to reach out to me via <a href="https://www.linkedin.com/in/andrew-nijmeh-1a6726200/">linkedin</a>, alternatively you can message me on <a href="https://twitter.com/0xnijmeh">twitter</a>.
        </p>

	</main>

    <script>
    </script>
</Layout>

<script>

    function formattedDate() {
        return new Date().toLocaleString('en-US', {
            timeZone: 'America/New_York',
            weekday: "long",
            hour: 'numeric',
            minute: 'numeric',
            second: 'numeric',
            timeZoneName: 'short'
        });
    }
    let date = formattedDate();
    let el = document.querySelector('#time');

    el.innerHTML = ' ' + date;
    setInterval(()=>{
        date = formattedDate();
        el.innerHTML = ' ' + date;
    }, 1000)
</script>

<style>
	h1 {
        color: rgb(157, 190, 130);
        text-align: center;
        margin-bottom: 2rem;
        margin-top: 20px;
        height: min-content
    }

    h2 {
        color: #fbf1c7;
        margin-top: 20px;
    }

    h3 {
        color: #fbf1c7;
        margin-bottom: 8;
        white-space: pre;
    }

    img {
       border-radius: 60%;
       transition: transform .7s ease-in-out;
    }

    img:hover {
      transform: rotate(360deg);
    }

    main {
        margin: 0 auto;
        padding: 1em;;
        max-width: 60ch;
    }

    a {
          color: #fe8019 !important; 
          text-decoration: none;
    }
    
    p {
          color: #fbf1c7;
          max-width: 60ch;
          margin-top: 0px;
    }

    .blog-title-emoji {
        animation-name: wave-animation;
        animation-duration: 2.5s;
        animation-iteration-count: infinite;
        transform-origin: 70% 70%;
        display: inline-block;
    }

    svg {
        margin-right: 4px;
        display: block;
    }

    @keyframes wave-animation {
        0% {
        transform: rotate(0deg);
        }
        15% {
         transform: rotate(14deg);
        }
        30% {
            transform: rotate(-8deg);
        }
        40% {
            transform: rotate(14deg);
        }
        50% {
            transform: rotate(-4deg);
        }
        60% {
            transform: rotate(10deg);
        }
        70% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(0deg);
        }
}

</style>
